* {
    margin: 0 auto;
}

/* shared styles */
.flex {
    display: flex;
}

.margin-lr {
    margin-left: 150px;
    margin-right: 150px;
}

.bg-clr {
    background-color: #f5f8ff;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.orange{
    color: #E95A08;
}
.gray-light{
    color: rgba(0, 0, 0, 0.5);
}

/* header styles */


.header-body {
    display: flex;
    margin: 30px 150px 120px;
    justify-content: space-around;
    align-items: center;
}

.header ul {
    display: flex;
}

.header ul li {

    list-style: none;
    
}

.header ul li a {
    text-decoration: none;
    
    margin-right: 48px;
}

.nav-links4 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.cart-img {
    /* width: 24px; */
    /* height: 24px; */
    width: 2.8%;
    margin-right: 11px;
}
.nav-color{
    color: #8987A1;
}

/* hero section styles */



.hero-title{
    font-size: 4rem;
    font-weight: bold;
    
}
.hero-writing{
    width: 570px;
}
.hero-description{
    font-size: 22px;
    padding-bottom: 0px;
}
.hero-img{
    margin-top: 106px;
}
.hero-writing{
    margin-top: 162px;
}


/* our plants styles */
.plants-title{
    font-size: 3.13rem;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}
.plants-description{
    text-align: center;
    font-size: 1.38rem;
    margin-top: 16px;
}




/* responsive styles */
@media screen and (max-width: 576px) {
    *{
        margin: 0 auto;
    }
    .hero{
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-right: 0px;
    }
    .hero-img{
        margin: 0 auto;
    }
    .header-body{
        width: 361px;
    }
    .nav-titles{
        display: none;
    }
    .nav-bar{
        justify-content: space-between;
    }
    .cart-img {
    /* width: 24px; */
    /* height: 24px; */
    width: 18%;
    margin-right: 11px;
}
}