* {
    margin: 0 auto;
}

/* shared styles */
.flex {
    display: flex;
}

.max-w {
    max-width: 1140px;
    margin: 0 auto;
}

.margin-lr {
    margin-left: 150px;
    margin-right: 150px;
}

.bg-clr {
    background-color: #f5f8ff;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.orange {
    color: #E95A08;
}

.gray-light {
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #E95A08;
    font-weight: 500;
    border: none;
    color: white;
    padding: 19px 80px;
    width: 100%;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: white;
    border: 1px solid #E95A08;
    color: #E95A08;
    transform: scale(1.08);
}

/* header styles */
.header{
    width: 1140px;
}

.header-body {
    display: flex;
    margin: 30px 150px 120px;
    justify-content: space-between;
    /* align-items: center; */
}

.header ul {
    display: flex;
}

.header ul li {

    list-style: none;

}

.header ul li a {
    text-decoration: none;

    margin-right: 48px;
}

.nav-links4 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.cart-img {
    /* width: 24px; */
    /* height: 24px; */
    width: 2.8%;
    margin-right: 11px;
}

.nav-color {
    color: #8987A1;
}

/* hero section styles */

.hero {
    justify-content: space-between;

}

.hero-title {
    font-size: 4rem;
    font-weight: bold;

}

.hero-writing {
    width: 570px;
}

.hero-description {
    font-size: 22px;
    padding-bottom: 0px;
}

.hero-img {
    margin-top: 106px;
}

.hero-writing {
    margin-top: 162px;
}


/* our plants styles */
.plants-title {
    font-size: 3.13rem;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}

.plants-description {
    text-align: center;
    font-size: 1.38rem;
    margin-top: 16px;
}


.p-card {
    width: 100%;

}

.p-card img {
    width: 100%;
}


.plant-cards {
    margin: 49px 0px 210px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}

.card-writings {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-writings h5 {
    margin-bottom: 20px;
    font-size: 1.38rem;
    font-weight: 500;
}

.card-writings h4 {
    font-weight: bold;
    font-size: 1.38rem;
}



/* plants lover styles*/
.plant-lover {
    /* max-width: 1140px; */
    justify-content: center;
    align-items: center;
}

.lover-writing {
    width: 540px;
}

.lover-title {
    font-weight: bold;
    font-size: 3.13rem;
}

.lover-img {
    margin-right: 60px;
}

.lover-writing ul li p {
    font-size: 1.38rem;
}

.trusted-bage {
    position: absolute;
    /* width: 100%; */
    width: 250px;
    height: 250px;
    top: 2200px;
    left: 760px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));


}

/* Join section styles */
.join-section {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 100%;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.join-title {
    font-size: 3.13rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 199px;
    margin-bottom: 23px;
}

.email {
    border: none;
    border-radius: none;
    max-width: 130px;
    margin-bottom: 193px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

input[type=text] {
    border: none;
    border-radius: none;
    padding: 20px;
    /* height: 50px; */
    width: 644px;
}

.subscribe {
    background-color: #E95A08;
    font-weight: 500;
    border: none;
    color: white;
    padding: 19px 54px;
    width: 100%;
    transition-duration: 0.4s;
}

.subscribe:hover {
    background-color: white;
    border: 1px solid #E95A08;
    color: #E95A08;
    transform: scale(1.08);
}

/* footer styles */
.footer{
    background-color: #fafbff;
    margin: 0 auto;
    width: 1200px;
    padding: 50px 400px;
    /* margin: 50px 160px; */

}
.branding p{
    width: 369px;
    margin-top: 16px;
    font-size: 1.38rem;
}
.branding{
    margin-right: 110px;
}
.nav1{
    margin-right: 110px;
}
.nav2{
    margin-right: 110px;
}
.footer ul li{
    list-style: none;
    margin-bottom: 32px;
}
.social-icons img{
    padding-right: 16px;
}
/* responsive styles */
@media screen and (max-width: 576px) {
    /* * {
        margin: 0 auto;
    } */

    .hero {
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-right: 0px;
    }

    .hero-img {
        margin: 0 auto;
    }

    .header-body {
        width: 361px;
    }

    .nav-titles {
        display: none;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .cart-img {
        /* width: 24px; */
        /* height: 24px; */
        width: 18%;
        margin-right: 11px;
    }

    .our-plants {
       
        margin: 0 auto;
   
        width: 570px;
    }

    .btn-primary{
        padding: 19px 28px;
    }
    .plant-cards {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0px;
        margin-right: 0px;
        width: 570px;
    }

    /* plant lover styles */
    .plant-lover {
        flex-direction: column;
        
        margin-left: 15px;
        margin-right: 15px;
    }

    .trusted-bage {
        display: none;
    }

    .lover-writing {
        margin-top: 18px;
    }

    .lover-title {
        font-size: 1.5rem;
    }

    .lover-writing ul li p {
        font-size: 0.88rem;
    }

    /* join section */
    .join{
        width: 570px;
    }
    .input-section{
        width: 321px;
    }
    input[type=text] {
        width: 218px;
    }

    .footer{
        margin: 0 auto;
        width: 570px;
        display: block;
        padding: 50px 20px;
        /* flex-direction: column; */
    }
    .branding{
        display: block;
    }
    .branding p{
        padding: 0px;
    }
}